{% extends 'base.html' %} {% load static %} {% block title %}{{ tour.title }}{% endblock %} {% block head_scripts %} {% if has_ticketscloud %}
<script src="https://ticketscloud.com/static/scripts/widget/tcwidget.js"></script>
{% endif %} {% if has_radario %}
<script src="https://radario.ru/frontend/src/api/openapi/openapi.js"></script>
{% endif %} {% endblock %} {% block extra_css %} {% endblock %} {% block content %}
<div class="container mx-auto">
	<div class="mb-4" data-tilda-project-id="1">
		<div class="mb-8">
			<div class="cover-container">
				<img src="{{ tour.cover.url }}" class="cover-image" alt="{{ tour.title }}" />
			</div>
		</div>
	</div>
	<div>
		<h1 class="tour-title">{{ tour.title }}</h1>
		<div class="flex flex-col gap-16">{% if tour_status == "upcoming" %} {% include 'tours/components/upcoming_events.html' %} {% include 'tours/components/past_events.html' %} {% else %} {% include 'tours/components/empty_states.html' %} {% if tour_status == "past" %} {% include 'tours/components/past_events.html' %} {% endif %} {% endif %}</div>
	</div>
</div>
{% endblock %}
